{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime", // Optimize helpers like async/await
    "react-refresh/babel", // Hot reload
    "babel-plugin-define-var"
  ]
}
